# Data Science Job Salaries

Importando bibliotecas.

In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Importando a base de dados do projeto.

In [57]:
data_b = pd.read_csv("data/ds_salaries.csv", index_col=0)
data_b.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

Verificando a existência de valores null.

In [58]:
data_b.isnull().sum()

work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

Verficando os tipos das colunas.

In [59]:
data_b.dtypes

work_year              int64
experience_level      object
employment_type       object
job_title             object
salary                 int64
salary_currency       object
salary_in_usd          int64
employee_residence    object
remote_ratio           int64
company_location      object
company_size          object
dtype: object

O ano em que o salário foi pago.

In [60]:
data_b["work_year"].value_counts()

2022    318
2021    217
2020     72
Name: work_year, dtype: int64

O nível de experiência no trabalho durante o ano com os seguintes valores possíveis:
* EN = Entry-level / Junior
* MI = Mid-level / Intermediate
* SE = Senior-level / Expert
* EX = Executive-level / Director

In [61]:
data_b["experience_level"].value_counts()

SE    280
MI    213
EN     88
EX     26
Name: experience_level, dtype: int64

Mudando o nível de experiência para valores numéricos:
* SE = 0
* MI = 1
* EN = 2
* EX = 3

In [62]:
data_b["experience_level"] = data_b["experience_level"].map({"EN": 0, "MI": 1, "SE": 2, "EX": 3})
data_b["experience_level"].value_counts()

2    280
1    213
0     88
3     26
Name: experience_level, dtype: int64

O tipo de emprego para a função:
* PT = Part-time
* FT = Full-time
* CT = Contract
* FL = Freelance

In [63]:
data_b["employment_type"].value_counts()

FT    588
PT     10
CT      5
FL      4
Name: employment_type, dtype: int64

Mudando o tipo de emprego para valores numéricos:
* PT = 0
* FT = 1
* CT = 2
* FL = 3

In [64]:
data_b["employment_type"] = data_b["employment_type"].map({"PT": 0, "FT": 1, "CT": 2, "FL": 3})
data_b["employment_type"].value_counts()

1    588
0     10
2      5
3      4
Name: employment_type, dtype: int64

O cargo que trabalhou durante o ano:

In [65]:
data_b["job_title"].value_counts()

Data Scientist                              143
Data Engineer                               132
Data Analyst                                 97
Machine Learning Engineer                    41
Research Scientist                           16
Data Science Manager                         12
Data Architect                               11
Big Data Engineer                             8
Machine Learning Scientist                    8
Principal Data Scientist                      7
AI Scientist                                  7
Data Science Consultant                       7
Director of Data Science                      7
Data Analytics Manager                        7
ML Engineer                                   6
Computer Vision Engineer                      6
BI Data Analyst                               6
Lead Data Engineer                            6
Data Engineering Manager                      5
Business Data Analyst                         5
Head of Data                                  5
Applied Data Scientist                        5
Applied Machine Learning Scientist            4
Head of Data Science                          4
Analytics Engineer                            4
Data Analytics Engineer                       4
Machine Learning Developer                    3
Machine Learning Infrastructure Engineer      3
Lead Data Scientist                           3
Computer Vision Software Engineer             3
Lead Data Analyst                             3
Data Science Engineer                         3
Principal Data Engineer                       3
Principal Data Analyst                        2
ETL Developer                                 2
Product Data Analyst                          2
Director of Data Engineering                  2
Financial Data Analyst                        2
Cloud Data Engineer                           2
Lead Machine Learning Engineer                1
NLP Engineer                                  1
Head of Machine Learning                      1
3D Computer Vision Researcher                 1
Data Specialist                               1
Staff Data Scientist                          1
Big Data Architect                            1
Finance Data Analyst                          1
Marketing Data Analyst                        1
Machine Learning Manager                      1
Data Analytics Lead                           1
Name: job_title, dtype: int64

Dividindo em profissões:
* Scientist = 0
* Engineer = 1
* Analyst = 2
* Manager = 3
* Director = 4
* Architect = 5
* Consultant = 6
* Head = 7
* Developer = 8
* Lead = 9
* Researcher = 10
* Specialist = 11

In [66]:
profession_b = []

for job_title in data_b["job_title"]:
  if "Scientist" in job_title:
    profession_b.append(0)
  elif "Engineer" in job_title:
    profession_b.append(1)
  elif "Analyst" in job_title:
    profession_b.append(2)
  elif "Manager" in job_title:
    profession_b.append(3)
  elif "Director" in job_title:
    profession_b.append(4)
  elif "Architect" in job_title:
    profession_b.append(5)
  elif "Consultant" in job_title:
    profession_b.append(6)
  elif "Head" in job_title:
    profession_b.append(7)
  elif "Developer" in job_title:
    profession_b.append(8)
  elif "Lead" in job_title:
    profession_b.append(9)
  elif "Researcher" in job_title:
    profession_b.append(10)
  elif "Specialist" in job_title:
    profession_b.append(11)

# Incluindo os dados na tabela
data_b["profession"] = profession_b

data_b["profession"].value_counts()

1     230
0     194
2     119
3      20
5      12
7      10
6       7
4       7
8       5
10      1
11      1
9       1
Name: profession, dtype: int64

Dividindo por áreas:
* Machine Learning = 0
* Big Data = 1
* Computer Vision = 2
* AI and NLP = 3
* Cloud = 4
* ETL = 5
* Business Intelligence = 6
* Geral = 7

In [67]:
areas_b = []

for job_title in data_b["job_title"]:
    if ("Machine Learning" in job_title) or ("ML" in job_title):
        areas_b.append(0)
    elif "Big Data" in job_title:
        areas_b.append(1)
    elif "Computer Vision" in job_title:
        areas_b.append(2)
    elif ("AI" in job_title) or ("NLP" in job_title):
        areas_b.append(3)
    elif "Cloud" in job_title:
        areas_b.append(4)
    elif "ETL" in job_title:
        areas_b.append(5)
    elif ("Business" in job_title) or ("BI" in job_title):
        areas_b.append(6)
    else:
        areas_b.append(7)

data_b["area"] = areas_b
data_b["area"].value_counts()

7    497
0     68
6     11
2     10
1      9
3      8
4      2
5      2
Name: area, dtype: int64

Deletando os títulos de trabalho

In [68]:
data_b = data_b.drop(columns="job_title")

A moeda do salário pago como um código de moeda ISO 4217:

In [69]:
data_b["salary_currency"].value_counts() # pensar uma forma de converter automaticamente

USD    398
EUR     95
GBP     44
INR     27
CAD     18
JPY      3
PLN      3
TRY      3
CNY      2
MXN      2
HUF      2
DKK      2
SGD      2
BRL      2
AUD      2
CLP      1
CHF      1
Name: salary_currency, dtype: int64

Mudando a moeda do salário:
* USD = 0
* EUR = 1
* GBP = 2
* INR = 3
* CAD = 4
* JPY = 5
* PLN = 6
* TRY = 7
* CNY = 8
* MXN = 9
* HUF = 10
* DKK = 11
* SGD = 12
* BRL = 13
* AUD = 14
* CLP = 15
* CHF = 16

In [70]:
currencys = []

for currency in data_b["salary_currency"]:
    if currency == "USD":
        currencys.append(0)
    elif currency == "EUR":
        currencys.append(1)
    elif currency == "GBP":
        currencys.append(2)
    elif currency == "INR":
        currencys.append(3)
    elif currency == "CAD":
        currencys.append(4)
    elif currency == "JPY":
        currencys.append(5)
    elif currency == "PLN":
        currencys.append(6)
    elif currency == "TRY":
        currencys.append(7)
    elif currency == "CNY":
        currencys.append(8)
    elif currency == "MXN":
        currencys.append(9)
    elif currency == "HUF":
        currencys.append(10)
    elif currency == "DKK":
        currencys.append(11)
    elif currency == "SGD":
        currencys.append(12)
    elif currency == "BRL":
        currencys.append(13)
    elif currency == "AUD":
        currencys.append(14)
    elif currency == "CLP":
        currencys.append(15)
    elif currency == "CHF":
        currencys.append(16)

data_b["salary_currency"] = currencys
data_b["salary_currency"].value_counts()

0     398
1      95
2      44
3      27
4      18
5       3
6       3
7       3
8       2
9       2
10      2
11      2
12      2
13      2
14      2
15      1
16      1
Name: salary_currency, dtype: int64

O principal país de residência do funcionário durante o ano de trabalho como um código de país ISO 3166.

In [71]:
data_b["employee_residence"].value_counts() # dividir por continentes

US    332
GB     44
IN     30
CA     29
DE     25
FR     18
ES     15
GR     13
JP      7
PT      6
BR      6
PK      6
NL      5
PL      4
IT      4
RU      4
AE      3
AT      3
VN      3
TR      3
AU      3
RO      2
BE      2
SG      2
SI      2
DK      2
HU      2
NG      2
MX      2
BO      1
MY      1
TN      1
IE      1
DZ      1
AR      1
CZ      1
JE      1
LU      1
PR      1
RS      1
EE      1
CL      1
HK      1
KE      1
MD      1
CO      1
IR      1
CN      1
MT      1
UA      1
IQ      1
HN      1
BG      1
HR      1
PH      1
NZ      1
CH      1
Name: employee_residence, dtype: int64

A quantidade total de trabalho feito remotamente, os valores possíveis são os seguintes:
* 0 = Sem trabalho remoto (menos 20%)
* 50 = Parcialmemte remoto
* 100 = Totalmente remoto (mais de 80%)

In [72]:
data_b["remote_ratio"].value_counts()

100    381
0      127
50      99
Name: remote_ratio, dtype: int64

O país da sede ou filial contratante do empregador como um código de país ISO 3166.

In [73]:
data_b["company_location"].value_counts() # dividir por continentes

US    355
GB     47
CA     30
DE     28
IN     24
FR     15
ES     14
GR     11
JP      6
NL      4
AT      4
PT      4
PL      4
LU      3
PK      3
BR      3
AE      3
MX      3
AU      3
TR      3
DK      3
IT      2
CZ      2
SI      2
RU      2
CH      2
NG      2
CN      2
BE      2
VN      1
EE      1
AS      1
DZ      1
MY      1
MD      1
KE      1
SG      1
CO      1
IR      1
CL      1
MT      1
IL      1
UA      1
IQ      1
RO      1
HR      1
NZ      1
HU      1
HN      1
IE      1
Name: company_location, dtype: int64

O número médio de pessoas que trabalharam para a empresa durante o ano:
* S = mais de 50 trabalhadores (small)
* M = de 50 a 250 trabalhadores (medium)
* L = mais de 250 trabalhadores (large)

In [74]:
data_b["company_size"].value_counts()

M    326
L    198
S     83
Name: company_size, dtype: int64

Mudando o tamanho da empresa para valores numéricos:
* S = 0
* M = 1
* L = 2

In [75]:
data_b["company_size"] = data_b["company_size"].map({"S": 0, "M": 1, "L": 2})
data_b["company_size"].value_counts()

1    326
2    198
0     83
Name: company_size, dtype: int64